*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
font-size: 62.5%;
}
body{
font-size: 1.6rem;
}
.overall-container{

}
/* Start of header container */
.header-container{
display: flex;
flex-direction: row;
align-items: center;
background-color: black;
gap: 4rem;
padding-inline: 3rem;
padding-block: 2rem;
justify-content: space-evenly;
}
@media screen and (max-width:21.875em) {
    .header-container{
        justify-content: center;
       gap: 0px;
       padding-inline: 0px;
    } 
}
.left-side-header-container{
}
.left-side-header-container h1{
color: white;
} 
.right-side-header-container ul{
display: flex;
flex-direction: row;
gap: 2rem;
list-style: none;
}
@media screen and (min-width:40.625em) {
    .menu-icon-display{
        display: none;
            }
}
@media screen and (max-width:40.625em) {
    .right-side-header-container ul{
        display: none;
    }  
    
}
.right-side-header-container ul li{
color: white;
font-size: 2rem;
}
.menu-icon-display{
width: 3rem;
height: 3rem;
}
.menu-icon-display img{
width: 100%;
height: 100%;
object-fit: cover;
}
/* END OF HEADER COMTAINER */
/* Start of hero section */
.hero-section-container{
height: 85vh;
background-color: rgb(1, 12, 24);
display: flex;
flex-direction: row;
color: white;
justify-content: space-between;
align-items: center;
padding-inline: 5rem;
gap: 8rem;
}
@media screen and (max-width:75em) {
    .hero-section-container{
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-block: 2rem;
        gap: 3rem;
    }  
}
@media screen and (max-width:18.75em) {
    .hero-section-container{
        padding-inline: 1rem;
    }  
}
.left-side-hero-section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2rem;

}
.left-side-hero-section h1{
font-size: 10rem;
}
@media screen and (max-width:38.75em) {
    .left-side-hero-section h1{
        font-size: 5rem;
        }
}
@media screen and (max-width:18.75em) {
    .left-side-hero-section h1{
        font-size: 3rem;
    }
}
.left-side-hero-section p{
font-size: 2rem;
line-height: 3rem;
}
.image-container-right-side{
height: 40rem;
width: 40rem;
background-color: white;
}
@media screen and (max-width:25em) {
    .image-container-right-side{
        height: 30rem;
        width: 100vw;
    }  
}

@media screen and (min-width:75em) {
    .right-side-hero-section-small{
    display: none;
    }
}
@media screen and (max-width:75em) {
    .right-side-hero-section{
    display: none;
    }
}
.image-container-right-side img{
width: 100%;
height: 100%;
object-fit: cover;
}



/* End of hero section */

/* Start of about section */
.overall-about-section{
background-color: black;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
height: max-content;
gap: 2rem;
}
@media screen and (max-width:25em) {
    .overall-about-section{
        display: flex;
        flex-direction: column;
    }
}
.left-side-about-section{
height: 70rem;
}
.left-side-about-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.right-side-about-section{
display: flex;
flex-direction: column;
padding-inline: 2rem;
gap: 2rem;
}
.right-side-about-section h1 {
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Adds depth and a subtle glow effect */
    font-weight: bold;
    font-size: 2.5rem; /* Makes the text prominent */
    letter-spacing: 1.5px; /* Creates a refined look with subtle spacing */
    padding: 15px; /* Ensures visual balance and spacing around the text */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Warm gradient for a distinct vibe */
    -webkit-background-clip: text; /* Clips background to the text for Chrome and Safari */
    background-clip: text; /* Standard property for modern browsers */
    -webkit-text-fill-color: transparent; /* Makes the text transparent for gradient visibility */
}

.right-side-about-section p{
color: white;
font-size: 2rem;
line-height: 3rem;
}

.educational-background{

}
.educational-background h3{
    color: rgb(74, 52, 9);
    font-size: 3rem;
}
.educational-background ul{
list-style: none;
}
.educational-background ul li{
display: flex;
flex-direction: row;
align-items: center;
height: auto;
gap: 2rem;
}
.educational-background ul li img{
color: white;
width: 3rem;
height: 3rem;
}

.interests h3{
    color: rgb(74, 52, 9);
    font-size: 3rem;
}
.interests ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    gap: 2rem;
    }
    .interests ul li img{
        color: white;
        width: 3rem;
        height: 3rem;
        }
/* End of about section */

/* Start of my skills section */

.my-skills-section{
height: max-content;
background-color: black;
padding-block: 2rem;
}
.my-skills-section h1 {
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7); /* Adds depth and a subtle glow effect */
    font-weight: bold;
    font-size: 2.5rem; /* Makes the text prominent */
    letter-spacing: 1.5px; /* Creates a refined look with subtle spacing */
    padding: 15px; /* Ensures visual balance and spacing around the text */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Warm gradient for a distinct vibe */
    -webkit-background-clip: text; /* Clips background to the text for Chrome and Safari */
    background-clip: text; /* Standard property for modern browsers */
    -webkit-text-fill-color: transparent; /* Makes the text transparent for gradient visibility */
    text-align: center;
}


.skills-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
gap: 2rem;
padding-inline: 3rem;
}

@media screen  and (max-width:27.5em){
    .skills-container{
        display: flex;
        flex-direction: column;
    }  
}

.overall-skill-card{

}
.text-card-container-skill{

}
.text-card-container-skill ul{
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 2rem;

}
.text-card-container-skill ul li{
color: white;
}
.card-graphic-skill{
height: .5rem;
border-radius: 2rem;
background-color: white;
}
.colored-graphic-display{
height: 100%;

background-color: orangered;
border-radius: 2rem;
}
/* End of my skills section */


/* Start of contact section */
.contact-section-container{
margin-top: 2rem;
    padding-block: 2rem;
    background-image: url('./assets/images/contact.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire area */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-color: rgba(0, 0, 0, 0.8); /* Adds a semi-transparent dark overlay */
    background-blend-mode: darken; /* Blends the overlay with the image */
  
}
/* @media screen and (max-width:50em){
    .contact-section-container{
        height: max-content;
    }   
} */
.contact-section-container h1{
color: white;
} 
.contact-cards-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    height: 100%;
}
@media screen and (max-width:50em) {
    .contact-cards-holder{
display: flex;
flex-direction: column;
gap: 4rem;
     
}
}
.left-side-contact-section{
height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.contact-sub-section{
width: 25rem;
}
.contact-sub-section{
display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
}
.image-icon-contact{
height: 5rem;
width: 5rem;
}
.image-icon-contact img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box-contact-sub-section{
color: white;
display: flex;
flex-direction: column;
gap: 1rem;
}
.contact-heading{
font-weight: bold;
}
.contact-address{
font-size: 1.5rem;
color: rgb(205, 199, 199);
}
.right-side-contact-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form-contact-container{
background-color: white;
width: 30rem;
height: max-content;
padding: 2rem;
}
@media screen and (max-width:19.375em) {
    .form-contact-container{
        width: 100%;
    }   
}
.form-contact-container form{
display: flex;
flex-direction: column;
gap: .5rem;
padding-block: 3rem;
}
.form-contact-container form input{
    outline: none;
    border-bottom: 2px solid rgb(39, 38, 38);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.form-contact-container form textarea{
    outline: none;
    border-bottom: 2px solid rgb(39, 38, 38);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;  
}
.send-message-button{
width:max-content;
padding: .5rem;
}
/* End of contact section */

/* Start of footer section */
.overall-footer-section{
   height: max-content;
   background-color: black; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   padding-block: 3rem;
}
.footer-social-links-container{
width: max-content;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 2rem;

}
@media screen and (max-width:20em) {
    .footer-social-links-container{
        gap: 1rem;
    }
}
.social-link-card{
width: 4rem;
height: 4rem;
border-radius: 50%;
}
@media screen and (max-width:20em) {
    .social-link-card{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        }
}
.social-link-card img{
width: 100%;
height: 100%;
object-fit: cover;
}
.copyright-name-footer h4{
color: white;
font-size: 1rem;
text-align: center;
}
/* End of footer section */